.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h1 {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #323232;
}

.todos {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #3d82eb;
  text-decoration: underline;
}

.item {
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
}

.item p {
  margin: 0;
}

.recorder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.changes {
  margin-top: 5px;
}

.changes span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #c4c4c4;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #4e4e4e;
}

.create_at {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  color: #cbcbcb;
}
