.submission {
  margin-left: 5px;
  flex-grow: 1;
}

.title_field {
  display: flex;
  align-items: center;
  margin-block: 0.5px;
}

.title_label {
  margin-right: 10px;
}

.title_input {
  border: none;
  outline: none;
  line-height: 21.09px;
  font-size: 18px;
  flex-grow: 0.4;
}

.title_label img {
  width: 20px;
  height: 20px;
}

.title_input::placeholder {
  color: #cbcbcb;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.datetime {
  height: 32px;
  width: 284px;
  font-size: 18px;
}

.datetime:hover {
  cursor: pointer;
}

.duetime_field {
  /* padding-left: 35px; */
  margin-top: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.duetime_field input {
  outline: none;
}
